@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav a {
  color: white;
}
nav a:hover {
  color: white;
}
.header_div {
  position: relative;
  z-index: 1000;
}
p {
  line-height: 32.3px;
}
.get-started {
  border-radius: 20px;
  padding: 20px;
  background: black !important;
  opacity: 0.8 !important;
  border: 1px solid white;
  font-family: "Roboto";
  margin-right: 10px;
  color: white;
  width: 150px;
  height: 5%;
  margin-top: 20px;
  padding: 5px !important;
  cursor: pointer;
}
.get-started:focus {
  outline: none;
}
.mobile {
  display: none !important;
}
.get-started:hover {
  background: white !important;
  color: black !important;
}
nav {
  display: flex !important;
  background-color: black !important;
  width: 100%;
  opacity: 0.8;
  color: white;
  text-align: center;
  margin: 0 auto;
  position: fixed;
}
.logo_large {
  padding: 20px;
}
ul {
  width: 100%;
  display: flex;
  justify-content: center;
}
ul li {
  list-style: none;
  padding: 25px 15px 10px 15px;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  font-family: "Roboto";
  text-transform: uppercase;
}
ul li:hover {
  cursor: pointer;
}
.toggle {
  width: 100%;
  padding: 10px 20px;
  text-align: right;
  box-sizing: border-box;
  color: white;
  font-size: 30px;
  display: none;
}
.logo {
  display: flex;
  justify-content: start;
}
.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.active {
  border-bottom: none !important;
}
@media screen and (max-width: 845px) {
  nav {
    display: block !important;
  }
  .mobile {
    display: inline-block !important;
    margin-bottom: 20px;
  }
  .toggle {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
  }
  ul {
    width: 100% !important;
    display: none;
  }
  ul li {
    display: block !important;
    text-align: center !important;
    padding: 20px;
  }
  .active {
    display: block !important;
    border-bottom: none;
  }
  .logo_large,
  .main {
    display: none !important;
  }
}
